<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <a class="navbar-brand" href="/">Proactive</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projeler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-tasks">Görevlerim</a>
                </li>
                <!-- Add Reports Menu for Project Managers -->
                <li class="nav-item" sec:authorize="hasRole('ROLE_PROJECT_MANAGER')">
                    <a class="nav-link" href="/reports">Raporlar</a>
                </li>
                <!-- Add Admin Menu -->
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/user-administration">Yönetim</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <form th:action="@{/logout}" method="post" class="d-flex">
                    <button class="btn btn-outline-light" type="submit">Çıkış</button>
                </form>
            </div>
        </div>
    </div>
</nav>
