<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Üye Yönetimi</title>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
  <h1 class="mt-4">Üye Yönetimi</h1>

  <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#userModal" onclick="resetUserForm()">
    Yeni Kullanıcı Ekle
  </button>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="confirmed-users-tab" data-bs-toggle="tab" data-bs-target="#confirmed-users" type="button" role="tab" aria-controls="confirmed-users" aria-selected="true">Onaylanmış Kullanıcılar</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pending-users-tab" data-bs-toggle="tab" data-bs-target="#pending-users" type="button" role="tab" aria-controls="pending-users" aria-selected="false">Onay Bekleyen Kullanıcılar</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="confirmed-users" role="tabpanel" aria-labelledby="confirmed-users-tab">
      <table class="table table-striped">
    <thead>
    <tr>
      <th>Kullanıcı Adı</th>
      <th>Rol</th>
      <th>E-posta</th>
      <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td>
        <a th:href="@{/profile/{username}(username=${user.username})}" th:text="${user.username}"></a>
      </td>
      <td>
        <span th:each="role, iterStat : ${user.roles}"
              th:text="${role.description} + (${iterStat.last} ? '' : ', ')"></span>
      </td>
      <td th:text="${user.email}"></td>
      <td>
        <button type="button"
                class="btn btn-secondary btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#userModal"
                th:attr="data-user-id=${user.id}"
                onclick="loadUser(this.getAttribute('data-user-id'))">
          Düzenle
        </button>
        <a th:href="@{/api/admin/delete-user/{id}(id=${user.id})}"
           class="btn btn-danger btn-sm"
           data-method="DELETE"
           th:attr="data-csrf=${_csrf.token}"
           onclick="changeMethodToDelete(event)">
          Sil
        </a>
      </td>
    </tr>
    </tbody>
  </table>
    </div>
    <div class="tab-pane fade" id="pending-users" role="tabpanel" aria-labelledby="pending-users-tab">
      <table class="table table-striped mt-3">
        <thead>
        <tr>
          <th>Kullanıcı Adı</th>
          <th>Rol</th>
          <th>E-posta</th>
          <th>İşlemler</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${pendingUsers}">
          <td>
            <a th:href="@{/profile/{username}(username=${user.username})}" th:text="${user.username}"></a>
          </td>
          <td>
            <span th:each="role, iterStat : ${user.roles}"
                  th:text="${role.description} + (${iterStat.last} ? '' : ', ')"></span>
          </td>
          <td th:text="${user.email}"></td>
          <td>
            <a th:href="@{/api/admin/approve-user/{id}(id=${user.id})}"
               class="btn btn-success btn-sm"
               data-method="PUT"
               th:attr="data-csrf=${_csrf.token}"
               onclick="changeMethodToPut(event)">
              Onayla
            </a>
            <a th:href="@{/api/admin/reject-user/{id}(id=${user.id})}"
               class="btn btn-danger btn-sm"
               data-method="PUT"
               th:attr="data-csrf=${_csrf.token}"
               onclick="changeMethodToPut(event)">
              Reddet
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">Yeni Kullanıcı Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
        </div>
        <form id="userForm" th:action="@{/api/admin/save-user}" method="post" th:object="${user}">
          <input type="hidden" id="userId" name="id">
          <div class="modal-body">
            <div class="mb-3">
              <label for="username" class="form-label">Kullanıcı Adı:</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Şifre:</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-posta:</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
              <label for="roles" class="form-label">Roller:</label>
              <select class="form-select" id="roles" name="roles" multiple>
                <option th:each="role : ${T(org.xhite.proactive.user.role.RoleName).values()}"
                        th:value="${role.name()}"
                        th:text="${role.description}">
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            <button type="submit" class="btn btn-primary">Kaydet</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script th:inline="javascript">
    const userForm = document.getElementById('userForm');
    const usernameInput = document.getElementById('username');
    const userIdInput = document.getElementById('userId');
    const emailInput = document.getElementById('email');
    const roleSelect = document.getElementById('roles');
    const modalTitle = document.getElementById('userModalLabel');
    const fetchUserUrl = /*[[@{/api/admin/get-user/}]]*/ '';

    function resetUserForm() {
      userForm.reset();
      userForm.action = '/api/admin/save-user';
      modalTitle.textContent = 'Yeni Kullanıcı Ekle';
      usernameInput.disabled = false;

      for (let i = 0; i < roleSelect.options.length; i++) {
        roleSelect.options[i].selected = false;
      }
    }

    function loadUser(userId) {
      fetch(fetchUserUrl + userId)
        .then(response => response.json())
        .then(user => {
          userIdInput.value = user.id;
          usernameInput.value = user.username;
          emailInput.value = user.email;
          userForm.action = '/api/admin/update-user/'+user.id;
          modalTitle.textContent = 'Kullanıcı Düzenle';
          usernameInput.disabled = true;

          for (let i = 0; i < roleSelect.options.length; i++) {
            roleSelect.options[i].selected = false;
          }

          for (let i = 0; i < roleSelect.options.length; i++) {
            if(user.roles.includes(roleSelect.options[i].value)) {
              roleSelect.options[i].selected = true;
            }
          }
        });

    }
    userForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const formData = new FormData(userForm);
      const userJson = {
        id: formData.get('id'),
        username: formData.get('username'),
        password: formData.get('password'),
        email: formData.get('email'),
        roles: Array.from(formData.getAll('roles'))
      };
      fetch(userForm.action, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          [document.querySelector('meta[name="_csrf_header"]').content]: document.querySelector('meta[name="_csrf"]').content
        },
        body: JSON.stringify(userJson)
      })
              .then(response => {
                console.log('User saved/updated successfully!');
                bootstrap.Modal.getInstance(document.getElementById('userModal')).hide();
                location.reload();
              })
              .catch(error => {
                console.error('Error saving/updating user:', error);
              });
    });

    function changeMethodToPut(event) {
      event.preventDefault();
      const url = event.target.href;

      fetch(url, {
        method: 'PUT',
        headers: {
          [document.querySelector('meta[name="_csrf_header"]').content]: document.querySelector('meta[name="_csrf"]').content
        }
      })
              .then(response => {
                console.log('PUT isteği başarıyla gönderildi!');
                location.reload();
              })
              .catch(error => {
                console.error('PUT isteği gönderilirken hata oluştu:', error);
              });
    }

    function changeMethodToDelete(event){
        event.preventDefault();
        const url = event.target.href;

        fetch(url, {
            method: 'DELETE',
            headers: {
            [document.querySelector('meta[name="_csrf_header"]').content]: document.querySelector('meta[name="_csrf"]').content
            }
        })
                .then(response => {
                    console.log('User deleted successfully!');
                    location.reload();
                })
                .catch(error => {
                    console.error('Error deleting user:', error);
                });
    }

  </script>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>

